body {
    background-image: linear-gradient(to right bottom, #86a8e7, #86a8e7, #86a8e7, #86a8e7, #86a8e7, #7caeec, #70b4f1, #64baf4, #46c7f7, #28d3f4, #24ddec, #41e7df);
    height: 100vh; 
    margin: 0;
    padding: 20px 20px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: flex;

    /* Remove scroll bar */
    overflow: hidden;  
}

.main-flexbox{
    display: flex;
    gap: 12rem;
}

/* SIDE NAVIGATION STYLES */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -11px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

/* MAIN DISPLAY STYLES */

.main-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LIST SELECT STYLES */

#list_select{
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    height: 60px;
    appearance: none;
    transition: border 0.15s ease 0s;
    width: 200px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    background-color: rgba(194, 210, 205, 0.3); 
    border-radius: 20px;
    backdrop-filter: blur(200px);
}

/* MAIN CONTAINER (slider list, expense list, Sliders) */

.main-container{
    /* background-color: rgba(194, 210, 205, 0.3);  */
    border-radius: 30px;
    /* backdrop-filter: blur(200px); */
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}

/* slider ist */
.slider-list{
    width: 1180px; 
    height: 600px; 
}

/* expense list */

.expense-legend{
    display: flex; 
    flex-direction: column; 
    margin-left: 40px; 
    margin-top: 30px;
}

.list-container h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}

#list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


#list2-container{
    display: none;
}



.slider__data{       
    margin-left: auto;
}


.new-expense{
    font-size:20px;
    cursor:pointer;
    transition: 200ms;
    letter-spacing:8px;
}

.new-expense:hover{
    font-size: 21px;
    box-shadow: #111;
}


.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


input{
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(113, 113, 113);
    height: 20px;
    appearance: none;
    transition: border 0.15s ease 0s;
    width: 200px;
    background: rgba(255, 255, 255, 0.27);
    border: 0px
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}



select{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(108, 108, 108);
    height: 30px;
    appearance: none;
    transition: border 0.15s ease 0s;
    width: 225px;
}


button{
    background: rgba(255, 255, 255, 0.27);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(112, 112, 112);
    height: 20px;
    appearance: none;
    transition: border 0.15s ease 0s;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
button:hover{
    border: 1px solid cyan;
}
button:active{
    transform: translateY(2px);
}
  
input:focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container{
    opacity: 0;
    transition: 1s;
}


h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    color: rgb(63, 63, 63);
}


ul{
    padding: 0;
}

li{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(63, 63, 63);
    list-style: none;
}

#exp_cont{
    color: rgb(137, 137, 137);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    background: rgba(255, 255, 255, 0.27);
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    
}

.exp_box{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 17, 255);
    border-radius: 4px;
}


.exp_list{
    display: flex;
    gap: 1.8rem;
    font-size: 2rem;
    align-items: baseline;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.delete_btn{
    margin-left: auto;
    color: rgb(104, 104, 104);
    font-weight: 900;
    cursor: pointer;
}

/* MOBILE STYLES */


@media only screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .main-flexbox{
        flex-direction: column-reverse;
        gap: 11rem;
    }

    .main-container{
        border: none;
        backdrop-filter: none;
        box-shadow: none;
        border-radius: 0px;
        background: transparent;
    }

    select {
        -webkit-appearance: none; /* For iOS */
        -moz-appearance: none; /* For Firefox */
        appearance: none;
    }

    .sidenav-container{
        text-align: center;
        margin-bottom: auto;
    }

    #list1_svg{
        display: flex;
        margin: 0 auto;
    }
    #list2_svg{
        display: flex;
        margin: 0 auto;
    }

    .slider-list{
        height: 130vw;
    }

    .slider__data{
        margin: 0 auto;
    }

    .main-display{
        gap: 2rem;
    }

    .expense-legend{
        margin-left: 0px;
        margin-top: 0px;
        padding: 0px 30px;
        min-height: 100vw;
    }

    .exp_list{
        font-size: 1.2rem;
        gap: 1.5rem
    }

    #list1{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    #list2{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    #list_select{
        font-size: 1.5rem;
        margin-bottom: 0;
        width: 100vw;
        border-radius: 0;
    }

    .delete_btn{
        margin-left: auto;
        font-size: 1.8rem;
    }

    input {
        font-size: 20px;
        font-weight: 200;
        height: 59px;
        width: 85vw;
        color: black;
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        background: rgba(255, 255, 255, 0.27);
        border: 1px solid white;
        border-radius: 10px;
    }

    input::placeholder{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }

    select {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        text-align: center;
    }

    #exp_cont{
        font-size: 25px;
        height: 59px;
        width: 91vw;
        color: rgb(112, 112, 112);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        background: rgba(255, 255, 255, 0.27);
        border: 1px solid white;
        border-radius: 10px;
    }

    .input-container button {
        width: 85vw;
        height: 59px;
        font-size: 25px;
        color: rgb(112, 112, 112);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        border: 0;
    }
    
    .sidenav{
        background: rgba(255, 255, 255, 0.27);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
    }


  }